<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/custom.css">
    <link rel="stylesheet" href="/linker/styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/linker/styles/vendor/toastr.min.css">
    <!--STYLES END-->

    <!-- Give clients access to csrf tag -->
    <script type="text/javascript">
      window.overlord = { csrf: "<%= _csrf %>" };
    </script>

    <!-- The sound file that will play on activity events -->
    <audio id="chatAudio">
      <source src="/sounds/notify.ogg" type="audio/ogg">
      <source src="/sounds/notify.mp3" type="audio/mpeg">
      <source src="/sounds/notify.wav" type="audio/wav">
    </audio>

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SolidBusiness</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <% if (session.authenticated) { %>
                  <li class="active"><a href="/user/show/<%= session.User.id %>"><%= session.User.name %></a></li>
                  <li><a href="/orgunit">Företag</a></li>
                  <li><a href="/activity">Aktiviteter</a></li>
                  <li>
                    <select name="campain" id="campain">
                      <option value="">Välj kampanj:</option>
                      <option value="536f3432bb06ec41348f2cd3" selected="selected">Wycore140512</option>
                    </select>
                  </li>
                <% } %>
              </ul>
              <% if (!session.authenticated) { %>
                <form class="navbar-form navbar-right" action="/session/create">
                  <div class="form-group">
                    <input type="text" placeholder="E-post" name="email" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Lösenord" name="password" class="form-control"/>
                  </div>
                  <button type="submit" class="btn btn-success">Logga in</button>
                  <input type="hidden" name="_csrf" value="<% _csrf %>"/>
                </form>
              <% } %>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <% if (session.authenticated) { %>
                      <li><a href="/user">Användare</a></li>
                      <li><a href="/salesimport">Import</a></li>
                      <li><a href="/contact">Kontakter</a></li>
                      <li><a href="/campain">Kampanjer</a></li>
                      <li><a href="/session/destroy">Logga ut</a></li>
                    <% } %>
                  </ul>
                </li>
              </ul>

            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

    <%- body %>
    </div>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/vendor/jquery.min.js"></script>
    <script src="/linker/js/vendor/bootstrap.min.js"></script>
    <script src="/linker/js/vendor/toastr.min.js"></script>
    <script src="/linker/js/vendor/underscore.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
